.home-hero-section {
    margin: 0;
}

.home-news-section {
    margin: 78px 0 74px;
}

.home-secondary-information-section {
    margin: 67px 0 60px;
}

.home-services-section {
    margin: 0;
    padding: 78px 0 71px;
}
