.circle-icon {
    display: table;

    width: 70px;
    height: 70px;

    font-size: 31px;

    text-align: center;

    color: #ffffff;
    border-radius: 50%;
    background: #e84c3d;
}

.circle-icon:before {
    display: table-cell;

    vertical-align: middle;
}