.form-group {
    margin-bottom: 21px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-control {
    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10px 15px;

    font-size: 14px;
    font-weight: normal;
    line-height: 1.3em;

    color: #767c7e;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #ffffff;
    box-shadow: none;
}

textarea.form-control {
    height: auto;
    min-height: 82px;

    resize: vertical;

    border-radius: 12px;
}

input::-moz-placeholder {
    color: #9faaad;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #9faaad;
}

input::-webkit-input-placeholder {
    color: #9faaad;
}

