@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ku0a9m');
	src:url('fonts/icomoon.eot?#iefixku0a9m') format('embedded-opentype'),
		url('fonts/icomoon.woff?ku0a9m') format('woff'),
		url('fonts/icomoon.ttf?ku0a9m') format('truetype'),
		url('fonts/icomoon.svg?ku0a9m#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cir-l:before {
	content: "\e600";
}
.icon-cir-r:before {
	content: "\e601";
}
.icon-user:before {
	content: "\f007";
}
.icon-home:before {
	content: "\f015";
}
.icon-phone-square:before {
	content: "\f098";
}
.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-facebook-f:before {
	content: "\f09a";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-shield:before {
	content: "\f132";
}
.icon-fire-extinguisher:before {
	content: "\f134";
}
.icon-rocket:before {
	content: "\f135";
}
.icon-long-arrow-right:before {
	content: "\f178";
}
