.contact-item {

}

.contact-item-icon {
    float: left;
    color: #202628;
}

.contact-item-info {
    margin-left: 20px;
    padding-left: 10px;

}

.contact-item-title {
    color: #e84c3d;
    font-size: 16px;
}

.contact-item-text {
    color: #767c7e;
    font-size: 14px;
}
