.contact-item .contact-item__icon {
    float: left;

    font-size: 28px;

    color: #202628;
}

.contact-item .contact-item__info {
    margin-top: 4px;
    margin-left: 20px;
    padding-left: 31px;
}

.contact-item .contact-item__title {
    margin: 0;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;

    color: #e84c3d;
}

.contact-item .contact-item__text {
    margin: 1px 0 14px;

    font-size: 14px;

    color: #767c7e;
}

.contact-item .contact-item__link {
    display: block;

    text-decoration: none;

    color: #767c7e;
}
