.footer {
    padding: 73px 0;

    background: #202628;
}

.footer .footer__social-links {
    float: right;

    margin-top: 6px;
}

.footer .footer__social-link-container {
    display: inline-block;

    padding-left: 8px;
}



