.footer {
    padding: 73px 0 71px;

    background: #202628;
}

.footer .footer__social-links-container {
    float: right;

    margin-top: 6px;
}

.footer__content-container {
    float: left;
}



