.form .form__group {
    margin-bottom: 21px;
}

.form .form__group:last-child {
    margin-bottom: 0;
}

.form .form__control {
    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 10px 15px;

    font-size: 14px;
    font-weight: normal;
    line-height: 1.3em;

    color: #767c7e;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #ffffff;
    box-shadow: none;
}

.form .form__text-control {
    height: auto;
    min-height: 82px;

    resize: vertical;

    border-radius: 12px;
}



