.header {
    font-family: 'Fjalla One', sans-serif;

    background: #202628;
}

.header .header__inner-container {
    display: table;
}

.header .header__logo-container {
    display: table-cell;

    vertical-align: middle;
}

.header .header__navigation-container {
    float: right;
}
