.news .news-item__title {
    margin: 0 0 5px;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;

    color: #202628;
}

.news .news-item__text {
    margin: 5px 0;

    font-family: 'Lato', sans-serif;
    font-size: 14px;

    color: #767c7e;
}

.news .news-item__button {
    margin-top: 26px;
}
