.news .news__content-container {
    margin-right: 355px;
    padding-right: 30px;
}

.news .news__image-container {
    float: right;

    width: 355px;
}

.news .news__image {
    max-width: 100%;

    border-radius: 50%;
}

.news .news__primary-title {
    font-size: 21px;

    text-transform: uppercase;

    color: #202628;
}

.news .news__secondary-title {
    margin: 27px 0 22px;
    padding: 6px 0 9px;

    font-family: 'Lato', sans-serif;
    font-size: 20px;

    color: #e84c3d;
    border-top: solid 1px #e7e7e7;
    border-bottom: solid 1px #e7e7e7;
}
