.page-footer {
    padding: 73px 0;

    background: #202628;
}

.page-footer-copyright {
    font-size: 14px;

    color: #767c7e;
}

.page-footer-social-links {
    float: right;
    margin-top: 6px;
}

.page-footer-social-link {
    display: inline-block;
    padding-left: 8px;
}



