.secondary-news-item {
    display: table;
}

.secondary-news-item-cell {
    display: table-cell;

    vertical-align: middle;
}

.secondary-news-item-cell:last-child {
    width: 100%;
}

.secondary-news-item-image {
    width: 70px;
    height: 70px;

    border-radius: 50%;
}

.secondary-news-item-text {
    margin: 14px 0 13px;
    padding-left: 29px;

    font-size: 14px;

    color: #767c7e;
}

.secondary-news-item-link {
    display: block;
}
