.secondary-navigation-item {
    display: inline-block;
    font-size: 14px;
}

.secondary-navigation-link {
    color: #e7e7e7;

    text-decoration: none;
}

.secondary-navigation-item:after {
    content: "/";
    color: #545a5c;
    margin: 0 10px;
}

.secondary-navigation-item:last-child:after {
    content: none;
}