.service-item .service-item__icon-container {
    float: left;

    margin-top: 3px;
}

.service-item .service-item__content-container {
    margin-left: 70px;
    padding-left: 31px;
}

.service-item .service-item__title {
    margin: 0 0 18px;

    font-size: 21px;

    text-transform: uppercase;

    color: #202628;
}
