.service-item {

}

.service-item-icon {
	float: left;
	width: 70px;
	height: 70px;
	background: #e84c3d;
	border-radius: 50%;
	text-align: center;
	display: table;
	color: #ffffff;
	font-size: 28px;
}

.service-item-icon:before {
	display: table-cell;
	vertical-align: middle;
}

.service-item-content {
	margin-left: 70px;
	padding-left: 10px;
}

.service-item-title {
	font-size: 21px;
	color: #202628;
}

.service-item-description {
	font-size: 14px;
	font-family: "Lato", sans-serif;
	color: #767c7e;
}

.service-item-link {
	color: #e84c3d;
	text-decoration: none;
}