



.slider-item {
    overflow: hidden;

    height: 560px;

    text-align: center;

    background: #2e2c2a;
}

.slider-item-content {
    position: relative;
    right: 50%;

    width: 100%;

    text-align: center;
}

.slider-item-image {
    display: inline-block;

    margin-right: -100%;
}

