.subscription-form {
    display: table;
}

.subscription-form .subscription-form__description {
    margin: 0 0 24px;

    color: #767c7e;
}

.subscription-form .subscription-form__input-container {
    display: table-cell;

    width: 100%;
    padding-right: 11px;

    vertical-align: top;
}

.subscription-form .subscription-form__button-container {
    display: table-cell;

    vertical-align: top;
}
