body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.75em;

    color: #767c7e;

    /*display: inline-block;*/
    /*min-width: 100%;*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

.news-section {
    margin: 78px 0;
}

.secondary-information-section {
    margin: 67px 0 60px;
}

.container {
    width: 1168px;
    margin: 0 auto;
}


[class*='col-'] {
    float: left;

    box-sizing: border-box;
    min-height: 1px;
    padding-right: 30px; /* column-space */
}

.grid {
    overflow: visible;

    width: auto;
    min-width: 0;
    max-width: none;
    margin-right: -30px;
}

.grid:after {
    display: table;
    clear: both;

    content: '';
}

